*.dblite
*.pyc
.*.swp
*.pdb
*.whl
*.o
.tox/
.nox/
build/
.mypy_cache/

Pipfile.lock

**/.parts.cache/
**/_build/
**/_install/
**/_sandbox/
**/_sdk/
**/scons_parts.egg-info
**/sconsparts.egg-info
**/parts.egg-info/
