tests/gold_tests/_sandbox/
build/
parts.egg-info/
*.dblite
*.pyc
.*.swp
*.pdb
*.o
.tox/
.nox/
_sandbox/
doc/source/_build/
src/scons_parts.egg-info

.mypy_cache/


src/scons_parts.egg-info/

Pipfile.lock
