[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scons = "*"
future = "*"
parts = {editable = true, path = "."}
autest = "*"

[dev-packages]

[requires]
python_version = "3.7"
