[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scons = "*"
scons-parts = {editable = true, path = "."}

[dev-packages]
nox = "*"
autest = "*"
pytest = "*"
pylama = "*"
mypy = "*"
autopep8 = "*"
sphinx = "*"
myst-parser = "*"
karma-sphinx-theme = "*"
