[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scons = "*"
future = "*"
scons-parts = {path = ".",editable = true}

[dev-packages]
autest = "*"
pylint = "*"
"autopep8" = "*"
mypy = "*"

